.info {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 30rem;
  align-items: center;
  padding-bottom: 0.75rem;
}

.createCount {
  display: flex;
  gap: 8px;
}

.completedCount {
  display: flex;
  gap: 8px;
}

.info strong {
  line-height: 16px;
  color: var(--blue-300);
  font-size: 14px;
}

.info span {
  color: white;
  background: var(--gray-400);
  padding-left: 8px;
  padding-right: 8px;
  padding-botton: 2px;
  pading-top: 2px;
  border: none;
  border-radius: 999px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.info .completedCount strong {
  color: var(--purple-300);
}
