.task {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1.68rem;
}

.task textarea {
  width: 40rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: white;
}

.task button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 16px;
  border-radius: 8px;
  background: var(--blue-300);
  color: var(--gray-100);
  border: none;
}

.task button:hover {
}

.task button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background: var(--blue-600);
}
